<br/>
<br/>
<br/>
<h1>Sangeetha Detne</h1>
<h2>Software Developer</h2>
<div class="col-md-8">
    <h2>Introduction</h2>
    <p>I am from INDIA ,Hyderabad
        I compeleted my graduation at bhoj reddy enginering college for womens 
        I have 1 year of experience at accenture.</p>
       <h2>Plans</h2>
          <p>I want to be web developer as I am much inclined to creating and desigining
          or a good fashion designer. </p>
          <h2>Interests</h2>
          <p>These are some of my interests:<br />Reading books
            Robin sharma ,inspirational books,
            Surfing on internet,
            Doing adventures things,
            Gardening,
            Drawing.</p>
            
  </div>

<br/>
<br/>