<!-- /**
*
*      +-----------------------------------------------------------------------------------------------------------------+ 
*      |                                             Copyright - NWMSU                                                   |
*      |                                           NWMSU INTERNAL USE ONLY                                               |
*      |-----------------------------------------------------------------------------------------------------------------| 
*      |Team 05                                                                                                          |
*      |Unit 05 : Person A , Person B                                                                                    |
*      |Unit 08 : Chinta Raja Srikar Karthik, Chandra Mouli kantipudi                                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This view is designed to handle forgot password ie., forgot.ejs.                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                        |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Chinta Raja Srikar Karthik       0.0.1(Initial)       Initial code added  to view/account/forgot.                |
*      |                                                                                                                 |             
*      |                                                                                                                 |
*      +-----------------------------------------------------------------------------------------------------------------+
*/ -->
<div class="row mt-2">
    <div class="col-sm-6">
        <h1>Forgot password</h1>
        <br>
        <hr class="style1">
        <br>
        <form method="POST" action="/user/login" class="col-md-9">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="username@domain.com" required><br/>
                
            </div>

            <button type="submit" class="btn btn-danger">Get Reset Link</button>
        </form>

    </div>
</div>