<!--

      +-----------------------------------------------------------------------------------------------------------------+ 
      |                                             Copyright - NWMSU                                                   |
      |                                           NWMSU INTERNAL USE ONLY                                               |
      |-----------------------------------------------------------------------------------------------------------------| 
      |Team 04                                                                                                          |
      |Unit 04 : Prem Kiran Osipalli  , ujjawal Kumar                                                                   |
      |Unit 09 : Ashok Atkuri, Venkata Siva Sai Nadipeneni, Sai Kumar Uppala                                            |
      |-----------------------------------------------------------------------------------------------------------------|
      |Description: This program uses mocha and node-mocks to test "user" controller.                                   |
      |-----------------------------------------------------------------------------------------------------------------|
      |    NAME                            VERSION                       CHANGES                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |Ashok Atkuri       0.0.1(Initial)       Initial code added  for the Login page.                                  |
      |                                                                                                                 |             
      |                                                                                                                 |
      +-----------------------------------------------------------------------------------------------------------------+

-->
<div class="row mt-2" style="color:black;margin-top:100px;">

    <div class="col col-lg-5 col-md-4 col-sm-4 well">
        <h1>Sign in</h1>
        <hr style="border-top: 1px solid #333">
    <%if(messages.failure){%>
        <div class="alert alert-danger">
          <%=messages.failure%>
        </div>
    <%}%>
    <%if(messages.success){%>
        <div class="alert alert-success">
        <%=messages.success%>
        </div>
    <%}%>
    <%if(messages.errors){
        for (var x=0;x<messages.errors.length;x++) {%>
        <div class="alert alert-danger">
        <%= messages.errors[x].msg %>
        </div>
        <%}
    }%>
        <form method="POST" action="/user/login">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" name="password" id="pwd" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="forgot" style="color:black" class="forgot-password">Forgot Password?</a>
        </form>

    </div>
</div>