<br>
<div id="printEstimate" class="well" style="color:black;width:80%;">
  <%  if(errString === '') {%>
  <h3>Estimate details</h3>
  <hr >
  <table style="width:100%" align="center">
    <tr>
      <td><b>Estimate ID :</b><%= estimate._id %></td>
      <td align="right"><b>Name : </b><%= estimate.name %></td>
    </tr>
    <tr>
      <td><b>Location : </b><%= estimate.location %></td>
      <td align="right"><b>Total Area : </b><%= estimate.squareFeet.toLocaleString(undefined, {maximumFractionDigits:2}) %> SqFt</td>
    </tr>
  </table>
  <hr >
  
  <h4>Materials Cost</h4>
  <hr >
  <table style="width:100%" align="center">
  <%  totMatCost=0.0;
      for (let j = 0; j < estimate.materials.length; j++) { 
          material = estimate.materials[j]; 
          cst = (estimate.squareFeet/material.coverageSquareFeetPerUnit)*material.unitcost;
          totMatCost+=cst;%>
          <tr>
              <td><b>Product Name : </b><%= material.name %></td>
              <td align="right"><b>Cost per unit : </b>$<%= material.unitcost.toLocaleString(undefined, {maximumFractionDigits:2}) %>/unit</td>
          </tr>
          <tr>
              <td><b>Coverage per unit : </b><%= material.coverageSquareFeetPerUnit.toLocaleString(undefined, {maximumFractionDigits:2}) %> SqFt/unit</td>
              <td align="right"><b>Cost of <%= material.name %> : </b>$<%= cst.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
          </tr>
          <tr height=10px>
          </tr>
  <% }%>
          <tr>
              <td></td>
              <td align="right"><b>Total cost for materials : </b>$<%= totMatCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
          </tr>
  </table>
  <hr>
  
  <h4>Labor Cost</h4>
  <hr >
  <% totLaborCost = estimate.laborDollarsPerHour*estimate.numberOfPeople
                      *estimate.hoursWorkedPerDay*estimate.numberOfDays %>
  <table style="width:100%" align="center">
      <tr>
          <td><b>Labor cost : </b>$<%= estimate.laborDollarsPerHour.toLocaleString(undefined, {maximumFractionDigits:2}) %>/Hr</td>
          <td align="right"><b>Number of People: </b><%= estimate.numberOfPeople.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr>
          <td><b>Number of Days : </b><%= estimate.numberOfDays.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
          <td align="right"><b>Hours per day: </b><%= estimate.hoursWorkedPerDay.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr height=10px>
      </tr>
      <tr>
          <td></td>
          <td align="right"><b>Total labor cost: </b><%= totLaborCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
  </table>
  <hr>

  <h4>Housing Cost</h4>
  <hr >
  <% totHousingCost = estimate.numberOfPeople*estimate.numberHotelNights*estimate.hotelDollarsPerNight %>
  <table style="width:100%" align="center">
      <tr>
          <td><b>Number of Nights : </b><%= estimate.numberHotelNights.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
          <td align="right"><b>Hotel cost : </b>$<%= estimate.hotelDollarsPerNight.toLocaleString(undefined, {maximumFractionDigits:2}) %>/Night</td>
      </tr>
      <tr height=10px>
      </tr>
      <tr>
          <td></td>
          <td align="right"><b>Total Housing cost for <%= estimate.numberOfPeople %> people: </b>$<%= totHousingCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
  </table>
  <hr>
  
  <h4>Food Cost</h4>
  <hr >
  <% totFoodCost = estimate.numberOfPeople*estimate.foodDollarsPerDay*estimate.numberOfDays %>
  <table style="width:100%" align="center">
      <tr>
          <td><b>Food Cost : </b>$<%= estimate.foodDollarsPerDay.toLocaleString(undefined, {maximumFractionDigits:2}) %>/Day</td>
          <td align="right"><b>Number of Days : </b><%= estimate.numberOfDays.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr height=10px>
      </tr>
      <tr>
          <td></td>
          <td align="right"><b>Total food cost for <%= estimate.numberOfPeople %> people: </b>$<%= totFoodCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
  </table>
  <hr>
  
  <h4>Transportation Cost</h4>
  <hr >
  <% totTrnsCost = estimate.numberOfVehicles*estimate.milesPerVehicle
                              *estimate.dollarsPerMile %>
  <table style="width:100%" align="center">
      <tr>
          <td><b>Number of Vehicles : </b><%= estimate.numberOfVehicles.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
          <td align="right"></td>
      </tr>
      <tr>
          <td><b>Cost of each Vehicle : </b>$<%= estimate.dollarsPerMile.toLocaleString(undefined, {maximumFractionDigits:2}) %>/Mile</td>
          <td align="right"><b>Number of Miles : </b><%= estimate.milesPerVehicle.toLocaleString(undefined, {maximumFractionDigits:2}) %>/Vehicle</td>
      </tr>
      <tr height=10px>
      </tr>
      <tr>
          <td></td>
          <td align="right"><b>Total transportation cost: </b>$<%= totTrnsCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
  </table>
  <hr>

  <h4>Miscellaneous Cost</h4>
  <hr >
  <table style="width:100%" align="center">
  <%  totMisCost=0.0;
      for (let j = 0; j < estimate.miscellaneous.length; j++) { 
          miscellaneous = estimate.miscellaneous[j]; 
          totMisCost+=miscellaneous.cost;%>
      <tr>
          <td><b>Expense for : </b><%= miscellaneous.misc %></td>
          <td align="right"><b>Cost: </b>$<%= miscellaneous.cost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr></tr>
  <% }%>
      <tr height=10px>
      </tr>
      <tr>
          <td></td>
          <td align="right"><b>Total miscellaneous costs : </b>$<%= totMisCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
  </table>
  <hr>
  
  <h4>Total Summary</h4>
  <hr >
  <table style="width:50%">
  <%  totCost = totMatCost + totLaborCost + totHousingCost + totFoodCost
                  + totTrnsCost + totMisCost %>
      <tr>
          <td>Materials Cost</td>
          <td>$<%= totMatCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr>
          <td>Labor Cost</td>
          <td>$<%= totLaborCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr>
          <td>Housing Cost</td>
          <td>$<%= totHousingCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr>
          <td>Food Cost</td>
          <td>$<%= totFoodCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr>
          <td>Transportation  Cost </td>
          <td>$<%= totTrnsCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr>
          <td>Miscellaneous Cost </td>
          <td>$<%= miscellaneous.cost.toLocaleString(undefined, {maximumFractionDigits:2}) %></td>
      </tr>
      <tr height=10px></tr>
      <tr>
          <td><b>Total Estimate*</b></td>
          <td><b>$<%= totCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></b></td>
      </tr>
      <tr height=10px></tr>
      <tr>
          <td><b>Cost Per Square Foot </b></td>
          <td><b>$<%= (totCost/estimate.squareFeet).toLocaleString(undefined, {maximumFractionDigits:2}) %> /SqFt</b></td>
      </tr>
  </table>
  <hr>
  
</div>
  <button onclick="location.href = '/estimate';" class="btn btn-caution" style="color:black">Return to list</button>
  <button onclick="printdiv()" class="btn btn-primary">Print this Estimate</button>
<p style="width:80%">* Note : Please note total estimate value is calculated based on the expenses & costs of materials when this estimate was generated. The actual cost is subject to chage and may not match with this estimate.</p>
<%} else { %>
  <p><b><%= errString %></b></p>
<%} %>
<script>
function printdiv(){

    var content = document.all.item("printEstimate").innerHTML;
    var oldBody = document.body.innerHTML;
    document.body.innerHTML = "<html><head><title></title></head><body>"
                                +content
                                +"<p>* Note : Please note total estimate value is calculated based on the expenses & costs of materials when this estimate was generated. The actual cost is subject to chage and may not match with this estimate.</p>"
                                +"</body>";
    window.print();
    document.body.innerHTML = oldBody;
    return false;

}
</script>