<!--

      +-----------------------------------------------------------------------------------------------------------------+ 
      |                                             Copyright - NWMSU                                                   |
      |                                           NWMSU INTERNAL USE ONLY                                               |
      |-----------------------------------------------------------------------------------------------------------------| 
      |Team 06                                                                                                          |
      |Unit 06 : Vishal Chilka , Aditya Malireddy                                                                       |
      |-----------------------------------------------------------------------------------------------------------------|
      |Description: The about page displays the menu of the pages                                                       |
      |-----------------------------------------------------------------------------------------------------------------|
      |    NAME                            VERSION                       CHANGES                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |Vishal Chilka                    0.0.1(Initial)              Created the about page                              |
      |Aditya Malireddy                 0.0.1(Initial)              Added team member names in the dropdown             |             
      |                                                                                                                 |
      +-----------------------------------------------------------------------------------------------------------------+
-->

<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
        <span class="caret"></span>
       
    </a>
    <ul class="dropdown-menu">
 
        <% include about_details %>
            <li role="separator" class="divider"></li>
            <li class="dropdown-submenu">
                <a href="#">Mentors</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Instructor Dr. Michael Rogers</a>
                    </li>
                    <li>
                        <a href="#">Instructor Dr. Denise Case</a>
                    </li>
                    <li>
                        <a href="#">Instructor Dr. Nathan Eloe</a>
                    </li>
                    <li>
                        <a href="#">Instructor Dr. Tianyang Wang</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#">Assistant Sravanthi Modali</a>
                    </li>
                    <li>
                        <a href="#">Assistant Kranthi Kumar</a>
                    </li>
                    <li>
                        <a href="#">Assistant Bhavishya</a>
                    </li>
                </ul>
            </li>
    </ul>
</li>