/* ==========================================================================
   needed for BootStrap menu
   ========================================================================== */
   /**

 *

 *      +----------------------------------------------------------------------------------------------------------------+

 *      |                                             Copyright - Northest Missouri State University                  | 

*       |-----------------------------------------------------------------------------------------------------------------|

 *      |Team # 1                                                                                                         | 

 *      |Unit # 12 : Sagar Ghimire, Abhijeet Prakash Agrawal, Revanant                                                    | 

 *      |-----------------------------------------------------------------------------------------------------------------|

 *      |Description: Custom CSS page                                                                   | 

 * */

body {
  padding-top: 25px;
  padding-bottom: 10px;
  color : white;
  
}
.color {
   background-image:url("../images/1.jpg"); 
   color:black;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.image{
  position: absolute;
  right:80px;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.mt-2{
  margin-top: 2em;
}

.green-nav{
  background-color: rgb(114, 218, 114);
  text-decoration-color: black;
}
.nav.navbar-nav.navbar-right li a {
  text-decoration-color: black;
}


.front-title{
  padding: 13em 10em 10em 25em;
}

.main-title{
  font-size: 5em;
  /* background-color: white; */
  text-shadow: 4px 1px 20px black;
  font-family: serif;
}

.panel{
  color: #000000;
}

.page-back{
  background-image: url("../images/Wood.jpg");
  height: 572px;
  width: 100%;
}

a{
  color: #ffffff;
}

hr {
  border-top: 1px solid #333 !important;
  }