<!DOCTYPE html>
<html>
<head>\
    <title>Santhosh Bonala</title>
</head>
<body class="color">
<div >
    <center>
    <h1>Santhosh Bonala</h1>
    <h2>Software Developer</h2></center>
    <div class="col-sm-4">
        <h3  >Background</h3>
        <ul>
            <li>
                <p class="blok">I am
                    <span class="bold">SANTHOSH BONALA </span>from
                    <span class="bold">WARANGAL,INDIA.</span>I had completed my undergraduation in electronics and communication engineering
                    from kakatiya university,warangal.</p>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h3 class="bold">Plans</h3>
        <ul>
            <li>
                <p class="blok">I am interseted to work on back end web technologies which may include technologies like AngularJs,jQuery,Java.</p>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h3 class="bold">Interests</h3>
        <ul>
            <li>
                <p class="blok">I am interested in solving puzzles which would increase my analytical skills. My hobbies are playing cricket,chess.I
                    am very much interested in programming languages like AngularJs,java.</p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>