<br/>
<br/>
<br/>
<h1>Jason Scroggie</h1>
<h2>Software Developer</h2>
<p>Hello there, the name's Jason. I am currently living in Maryville, pursuing my Bachelor's </p>
<p>of Computer Science. I hail form the distant, exotic land known as Iowa, where I grew up.  </p>
<p>My interests vary, from enjoying some relaxing fishing, to classic roleplaying with friends. </p>
<br/>
<br/>