<br/>
<br/>
<br/>
<h1>Purna Medarametla</h1>
<h2>Software Developer</h2>

<h3> Background</h3>
<p> I am Purna from Andhra Pradesh, India. <br>
    I had completed my Undergraduation in Electronics and Communication engineering from JNTU, Kakinada. <br>
	I worked as an Application developer at IBM for more than 3 years.</p>
</section>
<section>
<h3> Plans</h3>
<p> My future plan is to become a well qualified Software engineer and to settle as an Application developer.</p>
</section>
<section>
<h3> Interests </h3>
<p> I am very much interested in programming languages like Java, C. <br>
I enjoy travelling and would love to see the different places. <br>
My hobbies are gardening and Playing Badminton.</p>

<br/>
<br/>