<br/>
<h1>Harish Bondalapati</h1>
<h2>Software Developer</h2>

<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-9 text-left"> 
              <div style="padding-left:16px">
                      <section class="section1" style="padding-left:2em">
                          <article class="article">
                                  <h3>Background</h3>
                                  <p>I am from a town called Machilipatnam present in Krishna district of 
                                  Andhra Pradesh,a state in India.I have completed my Bachelor’s degree from Godavari 
                                  Institute of Engineering and Technology ,Rajahmundry majoring in Electronics and Communications. 
                                  I was recruited to Virtusa Consulting Services Pvt.Ltd and worked there for a period of 
                                  2.5 Years before resigning to persue for Masters.</p>
                                <h3 class="plans">Plans</h3>
                                <p class="plans">I wish to complete Masters in Computer Sciences and secure a position 
                                    in research and development in the field of Artificial Intelligence.</p>
                                <h3 class="intrest">Intrests</h3>
                                <p class="intrest">Surfi  ng the internet reading interesting articles about new gadgets and 
                                    technologies was one of my favorite interests.<br/>Playing basketball and PS3 games was 
                                    one of my favorite pastime.
                                  </p>
                          </article>
                      </section>
                  
              </div>
      </div>
      <div class="col-sm-3 sidenav hidden-sm">
        <div id="bio" class="well well-sm">
            <style>
                .profile-image{ 
                    margin: auto;
                    width: 12em;
                    height: 12em;
                    background-image: url('https://raw.githubusercontent.com/harish6614/a03/master/assets/img/myPic.jpg');
                    background-size: cover;
                    display: block;
                    border-radius: 100px;
                }
            </style>
            <div class="profile-image"></div>
          <h4>Harish Bondalapati</h4>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>