<!--

      +-----------------------------------------------------------------------------------------------------------------+ 
      |                                             Copyright - NWMSU                                                   |
      |                                           NWMSU INTERNAL USE ONLY                                               |
      |-----------------------------------------------------------------------------------------------------------------| 
      |Team 06                                                                                                          |
      |Unit 06 : Vishal Chilka , Aditya Malireddy                                                                       |
      |-----------------------------------------------------------------------------------------------------------------|
      |Description: This page shows details of the developer 'Vishal Chilka'                                            |
      |-----------------------------------------------------------------------------------------------------------------|
      |    NAME                            VERSION                       CHANGES                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |Vishal Chilka                    0.0.1(Initial)              Personal Index page                                 |
      |                                                                                                                 |             
      |                                                                                                                 |
      +-----------------------------------------------------------------------------------------------------------------+
-->
<br/>
<br/>
<br/>
<img src="https://pbs.twimg.com/profile_images/826674593540734976/Dl1jykTi_400x400.jpg" float="left" width="20%" height="20%" class="img-circle profile-pic" alt="Profile Picture">
<h1 style="color:rgb(0, 184, 184);">Vishal Chilka</h1>
<h2 style="color:rgb(0, 184, 184);">Software Engineer</h2>
<div>

    <header>
        <h3>About Me</h3>
    </header>
    
    <article>
        <hr>
        <aside>
            <p>Graduate student at NWMSU<br>Email: <a href="mailto:S530712@nwmissouri.edu">S530712@nwmissouri.edu</a></p>
        </aside>
        <section>
            <h3>Background</h3>
            <p>My name is Vishal Chilka and I am from a small town in India called Jalna, India.
            I have done my undergraduation in computer engineering from India. I have completed
            two semesters in Arizona State University and now I have transfered to Northwest.
            I have no work experience, but I plan on working on campus soon.
            </p>
        </section>

        <section>
            <h3>Plans</h3>
            <p>I plan on getting some work experience in web development and game development
            from some companies in the United States. However, my long term goal is to have
            established a company that makes cartoon shows and video games.
            </p>
        </section>
        
        <section>
            <h3>Interests</h3>
            <p>My tech interests are specifically inclined towards algorithms, computer graphics, and
            designing. I like sketching, painting, and doodling. A combination of art and
            languages like java, C and Wolfram will help me achieve my long term goal. I even play
            instruments such as guitar, keyboard, ukulele and violin. This is an added bonus when
            I will work on the music for the cartoon shows and games. I am working on Wolfram and
            Photoshop to have better understanding of computer graphics.
            </p>
        </section>
    </article>
    
    <footer>
        <i>Last updated on Aug 31, 2017</i>
    </footer>
    </div>