<br/>
<br/>
<br/>
<h1 style="color:red">Lakshman Pavan Kumar Vudutha</h1>
<h2 style="color:blue">Software Developer</h2>
</header>
   <h4 style="color:brown">BACKGROUND:</h4>
   <p>I am Lakshman Pavan Kumar Vudutha and I am from narsaraopet which is located in Andra pradesh in India .<br>
     I pursued my bachelors degree in Comptuer Science in 2017,dont have any work experience.
     <br>Now I am doing my masters in Applied computer science at NWMSU.<br>
     From childhood onwards my interest on computers related topics made me to choose computer science as major.</p>
<article>
   <h4 style="color:brown">PLANS:</h4>
   <P>My future plan is to become a very good programmer and to be a well qualified software engineer.<br>
      Right now my goal is to complete my masters with very good knowledege that would help me to go high in future</p>
</article>
<section>
   <h4 style="color:brown">INTERESTS:</h4>
    <p>My technical interest is mainly coding,I am very much interested in programming languages like JAVA,C and <br>
       also web technologies which is used to design web pages is more interesting one.and<br>
       my hobbies are playing cricket and I am the captain of college cricket team and in leisure time <br>
       reading books,watching movies and listening music are my interests.My favourite websites are wikipedia,facebook etc.,</p>
</section>

<br/>
<br/>