<br/>
<br/>
<div style="background-color: rgb(136, 209, 171);">
<h1>Natasha Shankar</h1>
<h2>Software Developer </h2>
<div>
<p> Hi, I'm Natasha! I currently live in Maryville, Missouri. </p>
<p> I'm currently pursuing my Masters in Applied Computer Science at NWMSU! </p>
<p> I'm from Bangalore, India and I did my Bachelor's degree in Information Science.</p>
<p> I love to blog and dance. I also love painting and seeking out new books to read. </p>
</div>
</div>
<br/>
<br/>