
<!--

      +-----------------------------------------------------------------------------------------------------------------+ 
      |                                             Copyright - NWMSU                                                   |
      |                                           NWMSU INTERNAL USE ONLY                                               |
      |-----------------------------------------------------------------------------------------------------------------| 
      |Team 02                                                                                                          |
      |Unit 02 : KrishnaVeni Karri, Supraja Kumbam                                                    |
      |-----------------------------------------------------------------------------------------------------------------|
      |Description: This page shows details of the developer 'KrishnaVeni Karri'                                            |
      |-----------------------------------------------------------------------------------------------------------------|
      |      NAME                            VERSION                       CHANGES                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |KrishnaVeni Karri                    0.0.1(Initial)              Personal Index page                                 |
      |                                                                                                                 |             
      |                                                                                                                 |
      +-----------------------------------------------------------------------------------------------------------------+
--><br/>
<br/>
<br/>


<div>
<img src="https://ahc-interprofessional-education.sites.medinfo.ufl.edu/files/2014/05/pet-sitting-pg.jpg" float="left" width="20%" height="100%">

<h1 style="color:#620B7A;">KrishnaVeni Karri</h1>
<h2 style= "color:#620B7A;">Software Engineer</h2>

    <header>
        <h3>About Me</h3>
    </header>
    
    <article>
        <hr>
        <aside>
            <p>Student at NWMSU</a></p>
        </aside>
        <section>
            <h3>Background</h3>
            I am from Andhra Pradesh, India. I graduated in 2012 from Andhra University and my major in Bachelors is Computer Science.
            I worked as Systems Engineer for Computer Sciences Corp. India.Pvt.Ltd. for 2.5 years and Later promoted as MySQL DBA.
            I have been living in this country since 2015.
            </p>
        </section>

        <section>
            <p>
                
        <h3>Plans</h3>
        My short term plan is to work hard and get good grades in this semester.
        It has really been 5 years since I finished my bachelors and since I havent take up any course work in school.
        </p>
        </section>
        
        <section>
            <p>
                <h3>Intrests</h3>
                
                I love hiking and travelling. My current travel intrest is visiting all national parks in United States. 
                So far I have covered parks in Arizona, california, colorado,Smokeys in Tenesse, Honolulu, Maui. 
                Hopefully, I will check all the states from my bucket list in 10 years :)
                </p>
        </section>
    </article>
    
    <footer>
        <i>KKV</i>
    </footer>
    </div>