<br/>
<br/>
<div class="container">
<div style="background-color: lightblue;">
<h1>Revanth Vallamsetty</h1>
<h2>Software Developer</h2>
<div class="row">
<div class="col-md-4">
    <img src="me.jpg" alt="myphoto" height="200" width="200">
</div>
<div class="col-md-4">
<h3> Background </h3> 
<p> I live in Maryville, Missouri <br/>
 I completed my undergraduation in JB Institute of technology in hyderabad. <br/>
 I worked as a cloud engineer in Cloud4c organisation for 1 year 
</p>
</div>
<div class="col-md-4">
<h3> Interests </h3>
<p> I am interested in surfing the latest technological advancements. <br/>
  I love playing cricket and chess. <br/>
</p>
</div>
</div>
</div>
<br/>
<br/>