<br/>
<br/>
<div style="background-color:bisque">
<br/>
<h1>Durga Charan Potukuru</h1>
<h2>Software Developer</h2>
<img class="image img-circle" src="/images/charan.jpg" alt="image" height="200" width="200"/>

<section>
    <h4 class="heading">My Background</h4>
    <p class="white">I'm Charan from Hyderabad, India.<br>I graduated in the stream Information Technology from JBIET in may 2017.</p>
   </section>
   <section>
    <h4 class="heading">My Plans</h4>
    <p class="white">I want to be an Entrepreneur.<br>I like developing Android applications.<br>So, I would like to work as a developer until I make everything ready for my startup and then start living my dream.</p>
   </section>
   <section>
    <h4 class="heading">My Interests</h4>
    <p class="white">I like developing android applications.<br>I like playing Table Tennis and Chess.</p>
   </section>

<br/>
<br/>