<br/>
<br/>
<br/>
<h1>Sai Praneetha Jaladanki</h1>
<h2>Software Developer</h2>
<h2>My Background</h2>
I am Sai Praneetha Jaladanki, currently pursuing my Masters' at Northwest Missouri State University.
                I am an Indian and my hometown is Hyderabad,Telangana famous for the tastes of Biryani.					
                I have a work experience of 2 years as a Senior Analyst at Capgemini India Pvt Ltd, India.
                
                <h2>My Plans</h2>
                <p> Since work has taken a back seat as I am currently pursuing my Masters,
            I would love to work again as a Analyst with a better understading of the software and management tehniques
                I want to be a part of any developing web application project so as to familirize myself
                with the technology.</p>
                
                <h2>My Interests</h2>
                <p>I like to keep myself busy and keep pursuing my hobbies. Few of my Hobbies are singing, pursuing Art, reading Books
                I am also a hardcore cricket fan and I absolutely love watching the game. <br>
<br/>
<br/>